.auth-layout{
  height: 100%;
  background-size: cover;
  background-position: 100% 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-bg{
    background: linear-gradient(180deg, #45499ae6 0%, #380047e6 100%);
    border-radius: $border-radius-24;
    padding-top: $padding-24;
    padding-bottom: $padding-24;
    padding-left: $padding-48;
    padding-right: $padding-48;
    min-height: 632px;
    width: 100%;
  }
  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    .btn-contained{
      width: 100%;
    }
    .form-title{
      font-weight: 600;    
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .form-desc{
      font-size: 14px;
      line-height: 10px;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 576px){
  .auth-layout{
    background-position: 70% 45%;
  }
}