.live-streaming-layout {
  background: linear-gradient(207.84deg, #54a0fd -28.2%, #380047 67.37%);
  display: flex;
  flex-direction: column;

  .input-outlined .MuiOutlinedInput-root {
    border: 1px solid #2abdff !important;
    width: 304px;
  }
  .input-outlined input::placeholder {
    color: #ffffff;
  }
  .live-streaming-root-container {
    display: flex;
    flex-direction: column;
  }
}
.t-hz-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > a {
    padding-left: $padding-8;
    padding-right: $padding-8;
    padding-top: $padding-4;
  }
}
.top-header-wrapper {
  border-bottom: $space-8 solid $color-blue-light;
}
.footer {
  border-top: $space-8 solid $color-blue-light;
}
.top-header {
  .header-profile {
    .MuiButtonBase-root {
      background-color: transparent;
    }
  }
}
.trapezoid-down,
.trapezoid-up {
  height: $space-8;
  background-repeat: no-repeat;
}
.profile-menu {
  width: 176px !important;
  background: $color-black-sm;
  box-sizing: border-box;
  border-radius: $border-radius-16;
  .border-bottom {
    padding-bottom: $padding-8;
    border-bottom: 0.3px solid $color-primary-sm !important;
  }
  .text-info.fw-bolder {
    font-weight: 800;
    font-size: 18px;
    color: $color-blue-light-md;
  }
  .profile-balance {
    font-weight: 800;
    font-size: 18px;
    color: $color-primary-xs;
  }
}
.profile-menu-paper {
  background: $color-black-sm;
  border: 1px solid $color-blue-light-md;
  margin-top: $space-8;
  padding: 0;
}
.profile-avt {
  border: 2px solid #fff;
  padding: 2px;
  img {
    border-radius: 50%;
  }
}
@media (min-width: 1200px) {
  .live-streaming-layout .MuiContainer-maxWidthLg {
    // max-width: 90%;
  }
}
