$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-16: 16px;
$border-radius-24: 24px;
$border-radius-32: 32px;
$border-radius-48: 24px;

$padding-4: 4px;
$padding-8: 8px;
$padding-16: 16px;
$padding-24: 24px;
$padding-32: 32px;
$padding-48: 48px;
$bg-primary: #eb07d8;

$color-dark-blue: #332e59;
$color-blue-light: #4cd1fb;
$color-blue-light-md: #50d7ff;
$color-light: #eae7d6;
$color-light-sm: #7b8390;
$color-primary-disable: #9e1793;
$color-primary: #eb07d8;
$color-primary-sm: #c070ff;
$color-primary-xs: #efdaff;
$color-secondary: #7b8390;
$color-electric-violet: #8637fb;
$color-dodger-blue: #2abdff;
$color-cyan: #12cbff;
$color-equator: #deb856;
$color-black-sm: rgba(0, 0, 0, 0.95);
$space-4: 4px;
$space-8: 8px;
$space-24: 24px;

$shadow-primary: 0 8px 16px 0 #9421eb;
