.rotate-225 {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transition-duration: 0.5s;
  transition-property: transform;
  &.back {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition-duration: 0.5s;
    transition-property: transform;
  }
}

.hide--slide-y {
  max-height: 0px;
  -webkit-transition: max-height, 0.2s linear;
  -moz-transition: max-height, 0.2s linear;
  -ms-transition: max-height, 0.2s linear;
  -o-transition: max-height, 0.2s linear;
  transition: max-height, 0.2s linear;
  &.show {
    height: auto;
    max-height: 100%;
    -webkit-transition: max-height, 0.2s linear;
    -moz-transition: max-height, 0.2s linear;
    -ms-transition: max-height, 0.2s linear;
    -o-transition: max-height, 0.2s linear;
    transition: max-height, 0.2s linear;
  }
}

.hide--slide-x {
  max-width: 0px;
  -webkit-transition: max-width, 0.2s linear;
  -moz-transition: max-width, 0.2s linear;
  -ms-transition: max-width, 0.2s linear;
  -o-transition: max-width, 0.2s linear;
  transition: max-width, 0.2s linear;
  &.show {
    width: auto;
    max-width: 100%;
    -webkit-transition: max-width, 0.2s linear;
    -moz-transition: max-width, 0.2s linear;
    -ms-transition: max-width, 0.2s linear;
    -o-transition: max-width, 0.2s linear;
    transition: max-width, 0.2s linear;
  }
}
